## Условие 2:

На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, 
а возвращает общее количество фруктов на складе.

In [49]:
def total_fruits(**fruit):
    total_amount = 0
    for amount in fruit.values():
        total_amount += amount
    return(total_amount)
    
total_fruits(bananas=5, orange=12, mango=8, lemon=15)

40

## Условие 3:

Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты.
Используйте list comprehensions

In [39]:
AD_costs = [100, 125, -90, 345, 655, -1, 0, 200]

In [41]:
total_amount = sum([cost for cost in AD_costs if i>0])
print(total_amount)

1425

## Условие 4: 
Даны два списка:

In [3]:
date_purchase = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22',
                 '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', 
                 '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', 
                 '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', 
                 '2021-10-26', '2021-12-09']

In [4]:
amount_purchase = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 
                   6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### 4.1 Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [5]:
november_income = sum([amount for date, amount in zip(date_purchase, amount_purchase) 
                       if date.startswith('2021-11-')])
print(f'Выручка компании в ноябре: {november_income}')

Выручка компании в ноябре: 25098

### Второй вариант поиска по подстрокам:
Дополнила оба списка тремя новыми значениями для проверки.

In [2]:
date_purchase_test = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22',
                 '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', 
                 '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', 
                 '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', 
                 '2021-10-26', '2021-12-09', '2022-11-09', '2022-11-08', '2022-12-01']

In [3]:
amount_purchase_test = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 
                   6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887, 3002, 4002, 2001]

In [4]:
november_income_test = sum([amount for date, amount in zip(date_purchase_test, amount_purchase_test) 
                       if '-11-' in date])
print(f'Выручка компании в ноябре: {november_income_test}')

Выручка компании в ноябре: 32102

### 4.2 Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [10]:
from datetime import *

def monthly_income(lst1: list[str], lst2: list[int]) -> dict:
    income_month = {}
    for date, amount in zip(lst1, lst2):
        month = datetime.strptime(date, '%Y-%m-%d').strftime('%B')
        if month in income_month:
            income_month[month] += amount
        else:
            income_month[month] = amount
    return income_month

print(monthly_income(date_purchase, amount_purchase))

{'September': 25647, 'December': 45452, 'October': 28645, 'November': 25098}